# Ignore everything
*

# Except these files
!.gitignore

!cloudinit/*
!wireguard/*
!bootstrap.sh
!cluster.yaml
!configure.sh
!containerd.toml
!frr.conf.tmpl

!README.md

# ...even if they are in subdirectories
!*/
