# default to using syslog. /etc/rsyslog.d/45-frr.conf places the log in
# /var/log/frr/frr.log
#
# Note:
# FRR's configuration shell, vtysh, dynamically edits the live, in-memory
# configuration while FRR is running. When instructed, vtysh will persist the
# live configuration to this file, overwriting its contents. If you want to
# avoid this, you can edit this file manually before starting FRR, or instruct
# vtysh to write configuration to a different file.
frr defaults traditional
log syslog informational
service integrated-vtysh-config
hostname ${hostname}
#debug bgp events
#debug bgp filters
#debug bgp fsm
#debug bgp keepalives
#debug bgp updates
!
router bgp ${bgp_as}
bgp router-id ${server_ip}
bgp log-neighbor-changes
no bgp ebgp-requires-policy
no bgp default ipv4-unicast
bgp bestpath as-path multipath-relax
no bgp network import-check
neighbor cilium peer-group
neighbor cilium remote-as external
neighbor cilium password changeme
neighbor cilium ebgp-multihop 4
neighbor cilium capability extended-nexthop
!
address-family ipv4 unicast
  neighbor cilium activate
exit-address-family
exit
!
