# Ignore everything
*

# Except these files
!.gitignore

!authorized_keys
!compose-dev.yaml
!containerd.toml
!crds/*
!devcontainer.json
!Dockerfile
!README.md

# ...even if they are in subdirectories
!*/
