[Interface]
PrivateKey = ${privkey}
Address = ${ipv4_addr}, ${ipv6_addr}
ListenPort = ${wg_port}
SaveConfig = true
PostUp = ufw route allow in on wg0 out on ${netdev}
PostUp = iptables -t nat -I POSTROUTING -o ${netdev} -j MASQUERADE
PostUp = ip6tables -t nat -I POSTROUTING -o ${netdev} -j MASQUERADE
PreDown = ufw route delete allow in on wg0 out on ${netdev}
PreDown = iptables -t nat -D POSTROUTING -o ${netdev} -j MASQUERADE
PreDown = ip6tables -t nat -D POSTROUTING -o ${netdev} -j MASQUERADE

[Peer]
PublicKey = ${pubkey}
AllowedIPs = ${allowed_ips}
Endpoint = ${server_ip}:${wg_port}
